{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


<div id="root"></div>
<h2>hello lequipe je recherche une
    {% for task in tasks %}

    {{ task.name }}
    {% endfor  %}

</h2>


{% endblock %}